<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Music For You - About</title>
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Template Main CSS File -->
    <link href="../static/styles/styles.css" rel="stylesheet">
    <link href="../static/styles/homeStyles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('index')}}">Music For You</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
    
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('about')}}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('artists')}}">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('songs')}}">Songs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('albums')}}">Albums</a>
                        </li>
						<li class="nav-item">
							<a class="nav-link" href="{{url_for('genres')}}">Genres</a>
						</li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search Music" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
    <div class="container">
        <h1>About Music For You</h1>
        <p>Music For You is a platform that connects you to the most popular music, artists, and the venues they're performing at.

        </p>
        <h3>Meet the Music for You team</h3>
        <div class="row">
            <div class="col col-md-3">
                <h5>Travis Aelvoet</h5>
                <img class="img-fluid" src="../static/img/TravisAelvoet.jpg">
            </div>
            <p class="col col-md-9">Travis is a Junior Chemical Engineering Major + Elements of Computing Certificate, graduating in Spring of 2022. Travis runs to maintain his physical and mental health, and tracks it all on <a href="https://www.strava.com/athletes/41579670">Strava</a><br><br>Thomas's responsbilities involve the development of the project, and other various duties not yet assigned. <br>Commits: XX <br>Issues: XX<br>Unit Tests: XX  </p>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <h5>An Nguyen</h5>
                <img class="img-fluid" src="../static/img/ann.jpg">
            </div>
            <p class="col col-md-9">An Nguyen is a Junior Finance + Elements  of Computing Certificate student, who will graduate in Spring 2022. She enjoys online shopping and hanging out with friends during free time <br><br>An's responsbilities involve the development of the project, documenting the project, and other various duties not yet assigned. <br>Commits: XX <br>Issues: XX<br>Unit Tests: XX 
            </p>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <h5>Perry Scott</h5>
                <img class="img-fluid" src="../static/img/PerryScott.jpg">
            </div>
            <p class="col col-md-9">Perry Scott is a Senior Mechanical Engineering Major and Elements of Computing Certificate student who will graduate in Spring 2021. He enjoys browsing wikipedia. <br><br>Perry's responsbilities involve the development of the project, and other various duties not yet assigned. <br>Commits: XX <br>Issues: XX<br>Unit Tests: XX </p>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <h5>Andrew Smith</h5>
                <img class="img-fluid" src="../static/img/AndrewSmith.JPG">
            </div>
            <p class="col col-md-9">Andrew Smith is a Junior Management Information Systems Major + Elements of Computing Certificate student graduating in Fall of 2021. Andrew is almost always jamming out to something on Spotify, checkout his <a href="https://open.spotify.com/playlist/37i9dQZF1EM2MooclycbFs?si=LCgTNblNTAGbrEK6l6djzw">top tracks of 2020 playlist. </a><br><br>Andrew's responsbilities involve the development of the project, working on hosting with GCP, and other various duties not yet assigned. <br>Commits: XX <br>Issues: XX<br>Unit Tests: XX </p>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <h5>Leif Thomas</h5>
                <img class="img-fluid" src="../static/img/LeifThomas.jpeg">
            </div>
            <p class="col col-md-9">Leif Thomas is a Junior Government Major + Elements of Computing Certificate student, who will graduate in Spring 2022. He is a big fan of all things Marvel comics. <br><br>Leif's responsbilities involve the development of the project and other various duties not yet assigned. <br>Commits: XX <br>Issues: XX<br>Unit Tests: XX </p>
        </div>
        <div class="row">
            <div class="col col-md-2">
                <h5>Team Stats</h5>
                <img class="img-fluid" src="/static/img/team.png" alt="Image of the Team on discord">
            </div>
            <p class="col col-md-10">
                Total no. of commits: XX<br>
                Total no. of issues: XX<br>
                Total no. of unit tests: XX<br>
                <a href="https://gitlab.com/perryascott2/cs331e-idb/-/issues">GitLab Issue Tracker</a><br>
                <a href="https://gitlab.com/perryascott2/cs331e-idb">GitLab Repo</a><br>
                <a href="https://gitlab.com/perryascott2/cs331e-idb/-/pipelines">Check and Run Unit Tests on GitLab CI</a>
                <a href="https://gitlab.com/perryascott2/cs331e-idb/-/wikis/home">GitLab Wiki</a><br>
            </p>
        </div>
        <h3>Data Sources</h3> 
        <a href="https://www.billboard.com/charts/hot-100">Billboard.com's "Hot 100" Songs</a>
        <a href="https://spotifycharts.com/regional">Spotify's Top 50 US charts</a>
        <a href="https://www.officialcharts.com/">The UK's official Top 40 charts</a>
        <h3>Tools Used</h3> 
        <a href="https://getbootstrap.com/">Bootstrap</a>
        <a href="https://developer.spotify.com/documentation/web-api/">Spotify API</a>
    </div>
</body>

</html>