<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Music For You</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/styles/homePage.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css
" rel="stylesheet">

    <!-- Template Main CSS File -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
    <script src="/static/sort.js"></script>

</head>

<body id="tableBody">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">Music For You</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for genre in genreIndex %}
                            <li><a class="dropdown-item" href="{{url_for('genre',id=genre.id)}}">{{genre.name}}</a></li>
                            {% endfor %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Browse All</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('about')}}">About</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search Music" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Main Infobox -->
    <div class="row">

        <div class="col-md-2 col-md-0">
        </div>
        <div class="col-lg-8 col-md-12">
            <h3>Browse Songs by Artist</h3>

            <!--table -->
            <table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Artist Name
                        </th>
                        <th class="th-sm">Genre
                        </th>
                        <th class="th-sm">Top Song
                        </th>
                        <th class="th-sm">Origin
                        </th>
                        <th class="th-sm">Release Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{url_for('artist',id=2)}}">AC/DC</a></td>
                        <td><a href="{{url_for('genre',id=6)}}">Hard Rock</a></td>
                        <td>Highway to Hell</td>
                        <td>Sydney, Australia</td>
                        <td>1973</td>
                    </tr>
                    <tr>
                        <td><a href="{{url_for('artist',id=0)}}">Brockhampton</a></td>
                        <td><a href="{{url_for('genre',id=0)}}">Hip Hop</a></td>
                        <td>Sugar</td>
                        <td>San Marcos, Texas</td>
                        <td>2010</td>
                    </tr>
                    <tr>
                        <td><a href="{{url_for('artist',id=1)}}">Taylor Swift</a></td>
                        <td><a href="{{url_for('artist',id=5)}}">Pop</a></td>
                        <td>Willow</td>
                        <td>West Reading, Pennsylvania</td>
                        <td>2020</td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <th class=>Artist Name
                        </th>
                        <th class=>Genre
                        </th>
                        <th class=>Top Song
                        </th>
                        <th class=>Origin
                        </th>
                        <th class=>Release Year
                        </th>
                    </tr>
                </tfoot>
            </table>


            <!--table end-->
        </div>
        <div class="col-md-2 col-md-0">
        </div>


    </div>


</body>

</html>