<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Music For You</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <!-- Template Main CSS File -->
    <link href="../static/styles/homePage.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>

<body id="splashBody">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="./splash.html">Music For You</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for genre in genreIndex %}
                            <li><a class="dropdown-item" href="{{url_for('genre',id=genre.id)}}">{{genre.name}}</a></li>
                            {% endfor %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Browse All</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search Music" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Main Infobox -->
    <div class="row">

        <div class="col-md-1 col-md-0">
        </div>
        <div class="col-md-10 col-md-12">

            <!--carousel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/img/brockhampton.jpg" class="d-block w-100" alt="artist1">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/queen.jpg" class="d-block w-100" alt="artist2">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/img/ACDC.jpg" class="d-block w-100" alt="artist3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--carousel end-->

            <!-- genre nav
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link active" aria-current="page" href="#">Genre</a>
                <a class="nav-link" href="#">Artist</a>
                <a class="nav-link" href="#">Songs</a>
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Favorites</a>
            </nav>
			<!--genre nav end -->


        </div>
        <div class="col-md-1 col-md-0">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <a href="{{url_for('songs')}}">
                <div class="card mb-3">
                    <img src="../static/img/allMusic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">All</h5>
                        <p class="card-text">Just want to browse? Go through the all category to find new music, artists, and genres. Who knows what you'll find.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5">
            <a href="{{url_for('genres')}}">
                <div class="card mb-3">
                    <img src="../static/img/genres.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Genres</h5>
                        <p class="card-text">Fan of Jazz? Browse by genre to find who is taking off in your own music bubble.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <a href="{{url_for('artists')}}">
                <div class="card mb-3">
                    <img src="../static/img/artists.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Artists</h5>
                        <p class="card-text">Search the Music For You database for the latest and greatest artists or search by older artists for the classics.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5">
            <a href="{{url_for('songs')}}">
                <div class="card mb-3">
                    <img src="../static/img/songs.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Songs</h5>
                        <p class="card-text">Search the smallest music library publicly available through Music For You!
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
            </a>
        </div>
    </div>
    <div class="col-md-1">
    </div>
    </div>

</body>

</html>