table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#tableBody{
height: 50vw;
background-image: linear-gradient(#e52e71,#ff8a00);

}

#splashBody{
	background-image: url("../img/background.jpg");
}
@media screen and (min-width: 10px){
	.nav{

	  width: 82vw;
	  max-width:82vw;
	  margin:auto;
	  margin-top: 2em;
	 
	}

	.card {
	  display:inline-block;
	  margin-top: 2em;
	  margin: 2em 2em 0 2em;
	 
	}
		
}
@media screen and (min-width: 576px) {
	.nav{

	  width: 82vw;
	  max-width:82vw;
	  margin:auto;
	  margin-top: 2em;
	 
	}

	.card {
	  display:inline-block;
	  margin-top: 2em;
	  margin: 2em 2em 0 2em;
	 
	}
		
}


@media screen and (min-width: 992px){

	.carousel img {

	  width: 82vw;
	  max-width:82vw;
	  height: 52vw;
	  max-height: 52vw;
	  margin:auto;

	}

	.carousel {
	  width: 82vw;
	  max-width:82vw;
	  height: 52vw;
	  max-height: 52vw;
	  margin:auto;
	  margin-top: 2em;
	}


	.nav{

	  width: 82vw;
	  max-width:82vw;
	  margin:auto;
	  margin-top: 2em;
	}

	.card {
	  display:inline-block;
	  margin-top: 2em;
	  margin: 2em 0em 0 0em;
	}
}



	