h1{
    font-family: 'Quicksand', sans-serif;
    margin:1% 0%;
}
h2{
    font-family: 'Quicksand', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.row{
    margin:2% 0%;
}
body{
    background-color:#FFD9CE !important;
}

.namePhoto{
    text-align: center;
    align-items: center;
}